body {
  background-color: #100912;
  color: white;
  margin: 0;
  padding: 0;
  font-family: 'cash', sans-serif;
}

/* You can keep or remove this code style based on your preference */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
